
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h1 {
    font-weight:900;
}

h5 {
    font-weight:900;
}


#mainjumbo {
    padding-top:200px;
    padding-bottom: 200px;
    background-image:url("https://images.unsplash.com/photo-1509062522246-3755977927d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1104&q=80");
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size:150%;
}

#maintable {
    padding-top:100px;
    padding-bottom:100px;
    background-image:url("https://images.unsplash.com/photo-1592060035939-ae6e7a1cba86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    font-size:150%;
    font-weight:bold;
    color:white;
}

.hr1 {
    border: 3px solid white;
  border-radius: 1px;
}

#mainnav {
    background-color:#56536d;
  opacity:0.80;
}

#whoweare {
    padding-top:100px;
    padding-bottom:150px;
}

.nav-link {
    color:white;
}

.nav-link:hover {
    color:gray;
}

.title {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 300%;
}

.title2 {
    text-transform:uppercase;
    font-size:125%;
    padding-bottom:40px;
    letter-spacing:0.05em;
}

table, th, td {
    border:0px;
  }

.footer {
      padding-top:20px;
}

#aboutjumbo {
    padding-top:200px;
    padding-bottom: 200px;
    background-image:url("https://images.pexels.com/photos/461049/pexels-photo-461049.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size:150%;
}

.separation {
    padding-bottom:40px;
}

#eventjumbo {
    padding-top:200px;
    padding-bottom: 200px;
    background-image:url("https://images.pexels.com/photos/2774556/pexels-photo-2774556.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size:150%;
}

a:hover {
    color:gray;
}
.card{
height: 500px;
}